*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial,sans-serif;
}

header{
    background:#011027;
    color:white;
    padding:20px 40px;
}

/* TOP ROW */

.top-header{
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:30px;
}

.logo{
    white-space:nowrap;
}

/* SEARCH */

.search-container{
    flex:1;
    max-width:650px;

    background:#e2e9f0;

    display:flex;
    align-items:center;

    position:relative;

    border:2px solid #eceff3;
    border-radius:10px;

    overflow:hidden;
}

.search-input{
    flex:1;

    border:none;
    outline:none;

    padding:12px 60px 12px 20px;

    font-size:16px;

    background:transparent;
}

.search-btn{
    position:absolute;
    right:5px;

    border:none;
    background:transparent;

    cursor:pointer;

    padding:8px 15px;
}

.search-icon{
    width:20px;
    height:20px;
}

/* USER MENU */

.user-menu{
    display:flex;
    align-items:center;
    gap:25px;
}

.icon-item{
    display:flex;
    flex-direction:column;
    align-items:center;

    text-decoration:none;
    color:white;

    font-size:12px;
}

.icon-item i{
    font-size:20px;
    margin-bottom:5px;
}

.icon-item:hover{
    color:#4da6ff;
}

/* CART */

.cart-btn{
    position:relative;

    width:60px;
    height:55px;

    background:#0d47a1;

    border-radius:6px;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    text-decoration:none;
    color:white;
}

.cart-btn i{
    font-size:22px;
}

.cart-count{
    position:absolute;

    top:5px;
    right:6px;

    width:18px;
    height:18px;

    border-radius:50%;

    background:white;
    color:#0d47a1;

    display:flex;
    justify-content:center;
    align-items:center;

    font-size:11px;
    font-weight:bold;
}

/* NAVIGATION */

nav{
    display:flex;
    justify-content:center;
    gap:30px;

    margin-top:25px;
}

nav a{
    color:white;
    text-decoration:none;
}

nav a:hover{
    color:#4da6ff;
}
.hero{
    text-align:center;
    padding:80px;
}

footer{
    background:#222;
    color:white;
    text-align:center;
    padding:20px;
}